.list-item {
    display: flex;
    list-style: none;
}

.list-item .task-details {
    display: flex;
    flex-grow: 2;
    flex-flow: column;
    align-items: flex-start;
}

.list-item .task-controls {
    display: flex;
    flex-grow: .5;
    align-items: center;
    justify-content: center;
}

.list-item .task-complete {
    text-decoration: line-through;
    font-weight: 100;
}

.list-item .title-edit {
    padding: .5em;
    width: 40%;
    min-width: 200px;
    font-weight: 600;
    font-size: 20px;
}

.list-item i {
    color: #ccc;
}

.list-item p {
   margin:0px;
}